.header {
	box-sizing: border-box;
	position: relative;
	padding: 6*$base-spacing-unit 0 10*$base-spacing-unit;
}

.header__title {
	text-transform: uppercase;
	color: $base-brand-color;
}

.header__video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.header__img {
	padding-left: 3*$base-spacing-unit;
	padding-top: $base-spacing-unit;

	img {
		max-width: 100%;
		box-shadow: 0 5px 50px transparentize(#000, .65);
	}
}


@include grid-media-query("portable") {
	.header {
		text-align: center;
		padding: 4*$base-spacing-unit 0 6*$base-spacing-unit;
	}

	.header__title { 
		font-size: 2.5*$base-font-size;
	}
	
	.header__img {
		padding-left:0;
	}
}
