html, body {
	min-height: 100%;
}

body {
	background: $dark-brand-color url(/assets/img/bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

hr {
    width: 120px;
    height: 0;
    border-top: 4px solid $base-brand-color;
    margin: 0 auto 2*$base-spacing-unit auto;
}

img {
    max-width: 100%;
}

.main-nav {
    // position: fixed;
    width: 100%;
    z-index: 100;
    font-family: 'Poiret One', cursive;
    line-height: 1;
    padding: $base-spacing-unit 0;

    a {
        color: $base-brand-color;
        border-bottom: 2px solid transparent;
        line-height: 1;

        &:hover,
        &.active {
            border-bottom: 2px solid $base-brand-color;
        }
    }
}

.main-nav__title {
    margin-bottom: 0.5*$base-spacing-unit;
    width: 40%;

    a, a:hover {
        border-bottom: 0;
        line-height: 1;
    }
}

.main-nav__links {
    font-size: 1.5*$base-font-size;
    margin: 0;
    width: 30%;

    a {
        padding: 0.6 * $base-spacing-unit $base-spacing-unit;
    }
}

@include grid-media-query("portable") {
    .main-nav {
        position: static;
    }

    .main-nav__links,
    .main-nav__title {
        float: none;
        text-align: center;
    }

    .h2--lead {
        font-size: 2*$base-font-size;
    }
}





.section {
	padding: 3*$base-spacing-unit 0;
}

.section__heading {
    @extend .cursive;
    font-size: 2*$base-font-size;
    text-align: left;
    color: $base-brand-color;
    font-style: normal;
    display: inline-block;
}

.dark-bg {
    background-color: rgba(0,0,0,.3);
}

.darker-bg {
    background-color:  rgba(0,0,0,.4);
}

.section--about {
    @extend .darker-bg;
}

.section--media {
    @extend .darker-bg;

    iframe {
        box-shadow: 0 5px 50px transparentize(#000, .65);
    }
}





.footer {
	padding: $base-spacing-unit 0;
	font-size: 0.75*$base-font-size;
	color: lighten(#292b36, 20%);
	text-align: center;
}
