---
layout: default
---

<nav class="main-nav transparent cf transparentize" data-scroll-header data-gumshoe-header>
  <div class="centered">
      <div class="grid">
          <ul class="nav nav--horizontal main-nav__links grid__item" data-gumshoe>
              <li><a data-scroll href="#about">About</a></li>
              <li><a data-scroll href="#music">Music</a></li>
          </ul><!--
       --><h1 class="main-nav__title grid__item"><a href="/">Julia’s Mind</a></h1><!--
       --><ul class="nav nav--horizontal main-nav__links grid__item" data-gumshoe>
              <li><a data-scroll href="#live">Live</a></li>
              <li><a href="https://juliasmind.bandcamp.com" target="_blank">Shop</a></li>
              <!-- <li><a data-scroll href="#contact">Contact</a></li> -->
          </ul>
      </div>
  </div>
</nav>

<nav class="portable-nav transparentize transparent" data-scroll-header data-gumshoe-header>
          <h1 class="portable-nav__title"><a href="/">Julia’s Mind</a></h1>
          <ul class="nav nav--horizontal portable-nav__links" data-gumshoe>
              <li><a data-scroll href="#about">About</a></li>
              <li><a data-scroll href="#music">Music</a></li>
              <li><a data-scroll href="#live">Live</a></li>
              <li><a data-scroll href="https://juliasmind.bandcamp.com">Shop</a></li>
              <li><a data-scroll href="#contact">Contact</a></li>
          </ul>
      </div>
  </div>
</nav>


<header class="header">
  <div class="centered">
      <ul class="social-media-links">
              <li><a href="https://www.facebook.com/juliasmindband"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="https://www.instagram.com/juliasmind"><i class="fab fa-instagram"></i></a></li>
      </ul>
      <div class="grid grid--rev">
          <div class="grid__item one-half portable--one-whole">
              <figure class="header__img">
                  <img src="{{ page.titleImageUrl }}" alt="Title Image">
              </figure>
          </div><!--
          --><div class="grid__item one-half portable--one-whole">
              <h1 class="header__title">{{ page.headline }}</h1>
              <p class="lead landmark">{{ page.lead }}</p>
              <p>
                  <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:0Ejp7Zvkb4vLHZEJZdXlIT&size=detail&theme=dark" width="220" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
              </p>
              <p>
                  <a href="https://music.apple.com/us/artist/julias-mind/1460674726?itsct=music_box&amp;itscg=30200&amp;ct=artists_julia%27s_mind&amp;app=music&amp;ls=1" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 160px; height: 45px;"><img src="https://tools.applemediaservices.com/api/badges/listen-on-apple-music/badge/en-US?size=250x83&h=099ea86d7825c57aeb3c0b3697eb75c1" alt="Listen on Apple Music" style="border-radius: 13px; height: 45px;"></a>
                  <a href="https://www.amazon.de/Sail-Julias-Mind/dp/B07SS2FC6Q" style="display:inline-block;overflow:hidden;background:url(/assets/img/amazon.svg) no-repeat;width:158px;height:45px;"></a>
              </p>
          </div>
      </div>
  </div>
</header>

<section class="section section--teaser dark-bg" id="about">
  <div class="centered">
      <div class="grid">
          <div class="grid__item one-whole">
              <h2 class="h2--lead">{% page.aboutHeading %></h2>
              <hr>
              <p class="lead">
                  {% page.aboutLead %}
              </p>
          </div>
      </div>
      <div class="grid grid--rev">
          <div class="grid__item two-fifths portable--one-whole">
              <div class="gallery">
                  {% for image in site.data.index_images %}
                  <a href="{% image.url %}" class="gallery__item">
                      <span style="background-image: {% image.url %})" class="gallery__img"></span>
                  </a>
                  {% endfor %}
              </div>
          </div>
          <div class="grid__item three-fifths portable--one-whole">
              {{ content }}
          </div>
      </div>
  </div>
</section>